<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form Submission</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }

        .container {
            width: 80%;
            margin: auto;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        p {
            line-height: 1.6;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <p> Dear {{ clientName }},</p>

        <p>We regret to inform you that your appointment scheduled for {{ bookingDateTime }} has been canceled.</p>

        <p> Appointment Details:</p>
        <p> Appointment Date Time: {{ bookingDateTime}} </p>
        <p> Appointment Status: <strong>Canceled</strong></p>

        <p>We apologize for any inconvenience this may cause.</p>

        <p> If you would like to reschedule your appointment or if you have any questions, please don't hesitate to
            contact us.</p>

        <p>Thank you for your understanding.</p>

        <small>Warm regards,</small><br>
        {{ appName }}

        <div class="footer">
            <p>This is an automated message. Please do not reply.</p>
        </div>
    </div>
</body>

</html>